# SPDX-FileCopyrightText: 2024 Cas Dijkman
#
# SPDX-License-Identifier: GPL-3.0-only

# -*- mode: gitignore; -*-

### Node ###
# Dependency directories
node_modules/

# Logs
yarn-debug.log*
yarn-error.log*

### Emacs ###
*~
\#*\#
.\#*
